.h1{
    text-align: center;
    color: white;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    background-color: aqua;
}

.body{
    background-image:   url(./img/a13ad68cf38c60c2a0dbc00e6337f009.jpg) ;
    margin: auto;
    padding-top: 0%;
}
.h2{
    color: bisque;
}

.li{

    color: black;
}