 .Container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.Course-Card {
    border: 2px solid;
    border-radius: 5px;
    padding: 10px;
    margin: 10px;
    width: 300px;
    display: inline-block;
    vertical-align: top;
}
.Course-title {
    font-size: 12px;
    font-weight: bold;
    margin: 5px 0;
}

.Course-description {
    font-size: 12px;
    color: #666;
}
.Course-link {
    text-decoration: none;
    color: #007bff;
    display: block;
    margin-top: 10px;
}

